---
services:
  postgres:
    image: docker.io/library/postgres:16
    container_name: ${POSTGRES_CONTAINER_NAME}
    restart: unless-stopped

    ports:
      - "${POSTGRES_PORT}:${POSTGRES_INTERNAL_PORT}"

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    volumes:
      - ./postgres-data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: docker.io/library/adminer:4
    container_name: adminer
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
